<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">

    <!-- Custom CSS stylesheet-->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> -->

    <title>Dashboard</title>

    <style>
      .header_row {
        margin-top: 40px;
        margin-bottom: 20px;
      }
      button {
        width: 90px;
      }
      table {
        font-size: 14px;
      }
      .add_user_btn {
        color: white !important;
      }

    </style>

  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a class="navbar-brand" href="/">User Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if request.session.user_id == None %}
        <a class="navbar-nav mr-auto nav-link disabled" href="/dashboard">Dashboard</a>
        <a class="navbar-nav mr-sm-0 nav-link" href="/login">Signin</a>
      {% else %}
        <a class="navbar-nav mr-sm-0 nav-link" href="/dashboard">Dashboard</a>
        <a class="navbar-nav mr-auto nav-link" href="/message_board/{{user.id}}">Wall</a>
      {% if user.level == 9%}
        <a class="navbar-nav mr-sm-0 nav-link" href="/dashboard/edit_profile/{{user.id}}">{{user.first_name}} {{user.last_name}} (admin)</a>
      {% else %}
        <a class="navbar-nav mr-sm-0 nav-link" href="/dashboard/edit_profile/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
      {% endif %}
        <a class="navbar-nav mr-sm-0 nav-link" href="/logout">Logoff</a>
      {% endif %}
      </div>
    </nav>

    <!-- Container -->
    <div class="container">

      <div class="row header_row">
        <div class="col-8">
        {% if user.level == 9%}
          <h3>Manage Users</h3>
        {% else %}
          <h3>All Profiles</h3>
        {% endif %}
        </div>

      {% if user.level == 9 %}
        <div class="col-4 text-right">    
          <!-- Verify credentials -->
          <a class="btn btn-sm btn-primary add_user_btn" data-toggle="modal" data-target="#process_credentials">Add User</a>
          <!-- Modal -->
          <div class="modal fade bd-example-modal-sm" id="process_credentials" tabindex="-1" role="dialog" aria-labelledby="process_credentialsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="process_credentialsModalLabel">Enter your password:</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/login" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="auth" value="/registration">
                    <input type="hidden" name="origin" value="/users">
                    <input type="hidden" name="email" value="{{user.email}}">
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Back</button>
                  <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      
      </div>

      <!-- Manage Users Administrative Dashboard -->
      <div class="row">
        {% if user.level == 9 %}
        <div class="col-12">
          <div class="table-responsive-lg">
            <table class="table table-striped table-hover table-sm table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>name</th>
                  <th>email</th>
                  <th>location</th>
                  <th>created_at</th>
                  <th>updated_at</th>
                  <th>user_level</th>
                  {% if user.level == 9%}
                  <th>actions</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              {% for profile in users %}
                <tr>
                  <td>{{ profile.id }}</td>
                  <td><a href="/user/{{profile.id}}">{{ profile.first_name }} {{ profile.last_name }}</a></td>
                  <td>{{ profile.email }}</td>
                  {% if profile.city == None %}
                  <td>None</td>
                  {% else %}
                  <td> {{ profile.city }} {{ profile.state }}, {{ profile.country }}</td>
                  {% endif %}
                  <td>{{ profile.created_at|date:"M d, Y" }}</td>
                  <td>{{ profile.updated_at|date:"M d, Y" }}</td>
                {% if profile.level == 9%}
                  <td>admin</td>
                {% else %}
                  <td>normal</td>
                {% endif %}
                
                {% if user.level == 9%}
                  <td>
                    <!-- edit profile original -->
                    <!-- <a href="/dashboard/edit_profile/{{profile.id}}">edit</a> | -->
                    
                    <!-- edit profile -->
                    <a href="" class="" data-toggle="modal" data-target="#process_credentials_edit_user_{{profile.id}}">Edit</a> |
                    <!-- Modal -->
                    <div class="modal fade bd-example-modal-sm" id="process_credentials_edit_user_{{profile.id}}" tabindex="-1" role="dialog" aria-labelledby="process_credentialsEditModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h6 class="modal-title" id="process_credentialsEditModalLabel">Enter your password:</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="/dashboard/process_credentials" method="post">
                              {% csrf_token %}
                              <input type="hidden" name="edit_user">
                              <input type="hidden" name="profile_id" value="{{profile.id}}"> 
                              <input type="password" name="password" class="form-control">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Back</button>
                            <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                    <a href="" data-toggle="modal" data-target="#remove{{profile.id}}">Remove</a>

                      <!-- Modal -->
                      <!-- <div class="modal fade" id="remove{{profile.id}}" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="removeModalLabel">Remove {{profile.first_name}} {{profile.last_name}}?</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Deleting this account will remove all it's associated posts, messages, and comments. Are you sure?</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                              <a href="/dashboard/delete_profile/{{profile.id}}" class="btn btn-danger">Delete</a>
                            </div>
                          </div>
                        </div>
                      </div> -->
                      
                      <div class="modal fade" id="remove{{profile.id}}" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="removeModalLabel">Remove {{profile.first_name}} {{profile.last_name}}?</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Deleting this account will remove all it's associated posts, messages, and comments. Are you sure?</p>
                              <form action="/dashboard/delete_profile/{{profile.id}}" method="post">
                                {% csrf_token %}
                                <label>Enter your password:</label>
                                <input type="password" class="form-control" name="password">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>


                  </td>
                {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endif %}
      </div>

      <!-- Modal -->
      <div class="modal fade" id="remove" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="removeModalLabel">Remove this user?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{profile.first_name}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-danger ">Delete</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      
    <!-- bootstrap.js-->
    <script type="text/javascript" src="{% static 'bootstrap.js' %}"></script>

    <!-- Custom JavaScript -->
    <!-- <script type="text/javascript" src="script.js"></script> -->

  </body>
</html>
